<div ng-hide="receivedMode">
  <h2>Permission Slip</h2>      
    <p>All members of the Writers' Workshop need to fill out the following permission slip.</p>
    <p>For the purposes of the ArmadilloCon Writers' Workshop only, I hereby give permission to the representatives of ArmadilloCon to print and/or electronically distribute my original work of fiction. </p>
    <p>(<span lang="EN-IE" xml:lang="EN-IE"><strong>Please do not use pen names on workshop submissions</strong></span><strong>.</strong>)</p>

<div><h3>{{ permission_slip_submitted }}</h3> </div>

<form method="post" name="permissionForm" novalidate>
  <div class="form-group">
    <label for="author_name">Name* : </label> <span class="form-group" ng-show="receivedMode">{{ author_name }}</span>
  </div>
  <div class="form-group" ng-hide="receivedMode">
    <input type="text" name="author_name" ng-model="author_name" maxlength="80" required>
    <span style="color:red" ng-show="contactForm.author_name.$dirty && contactForm.author_name.$invalid">
    	<span ng-show="contactForm.author_name.$error.required">Author name is required.</span>
    </span>
  </div>

  <div class="form-group">
    <label for="email_from">Email address* : </label> <span class="form-group" ng-show="receivedMode">{{ email_from }}</span>
  </div>
  <div class="form-group" ng-hide="receivedMode">
    <input type="email" id="email_from" name="email_from" ng-model="email_from" maxlength="80" ng-blur="setTheNeedToValidate()" ng-focus = "removeTheNeedToValidate()" required>
    <span style="color:red" ng-show="rightMomentToValidate">
		<span ng-show="contactForm.email_from.$error.required">Email is required.</span>
		<span ng-show="contactForm.email_from.$error.email">Invalid email address.</span>
    </span>
  </div>

  <div class="form-group">
    <label for="manuscript_title">Title of your work* : </label> <span class="form-group" ng-show="receivedMode">{{ manuscript_title }}</span>
  </div>
  <div class="form-group" ng-hide="receivedMode">
    <input type="text" id="manuscript_title" name="manuscript_title" ng-model="manuscript_title" maxlength="120" required>
    <span style="color:red" ng-show="contactForm.manuscript_title.$dirty && contactForm.manuscript_title.$invalid">
    	<span ng-show="contactForm.subject.$error.required">Title of your work is required.</span>
    </span>
  </div>

  <button type="submit" class="btn btn-default" ng-hide="receivedMode" ng-disabled="contactForm.author_name.$invalid || contactForm.email_from.$invalid || contactForm.manuscript_title.$invalid" ng-click="form_submit()">Submit</button>
</form>

